html, body {
	width: 100%;
	min-height: 100%;
	-webkit-font-smoothing: antialiased;
	font-family: Montserrat, sans-serif;
  	background-color: #333;
  	color: #eee;
}

html, body, p, div, article, h1, h2, h3, h4, h5, h6, form {
	margin: 0px;
	padding: 0px;
}

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	transition: 0.25s;
}

html {
	background-image: url(../img/beach.jpg);
	background-size: cover;
	background-position: right;
	background-attachment: fixed;
}

body {
	background-color: rgba(24,24,24,0.90);
}

#overlay {
	background: url(../img/overlay.png);
	opacity: 0.5;
	width: 100vw;
	height: 100vh;
	position: fixed;
	z-index: -1;
}

header {
	height: 100vh;
}

header > .main-title {
	height: 80vh;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 90%;
	max-width: 1200px;
	margin: auto;
	padding: 5vh 0;
}

header h1 {
	font-size: 10vh;
}

header hr {
	width: 20%;
	margin: 24px auto;
}

header h2 {
	font-size: 24px;
	font-weight: lighter;
	margin: 12px auto;
}

header #bio {
	margin: auto;
	text-align: justify;
	max-width: 800px;
}

header > .social-links {
	display: flex;
	align-items: center;
	justify-content: space-around;
	max-width: 800px;
	margin: 12px auto;
}

header > .social-links > a {
	text-decoration: none;
	color: #eee;
	font-size: 36px;
}

h3 {
	text-align: center;
	font-size: 48px;
	margin: 24px 0;
}

h4 {
	font-size: 32px;
	text-decoration: underline;
	margin: 16px 0;
}

main {
	padding: 48px;
}

.soundcloud {
	width: 80%;
	margin: 24px auto;
}

/*
 * RELEASES
 */

.releases-list {
	display: flex;
	justify-content: flex-start;
	align-items: stretch;
	flex-wrap: wrap;
	width: 1200px;
	margin: auto;
}

.release {
	flex: 240px 0 0;
	height: 240px;
	text-align: center;
	border: solid 10px #0b0c0c;
	overflow: hidden;
	display: inline-flex;
	flex-direction: column;
	margin: 24px;
}

.release-artwork {
	flex-basis: 100%;
	flex-grow: 1;
	flex-shrink: 0;
	background: #444;
	background-size: cover;
	background-position: top;
	line-height: 140px;
	font-size: 96px;
	text-align: center;
}

.release-title {
	flex-basis: auto;
	flex-grow: 0;
	flex-shrink: 1;
	background-color: #0b0c0c;
	padding: 4px;
	width: 100%;
}

.release-title > .name {
	font-size: 24px;
	font-weight: bold;
}

.release-title > .infos {
	font-size: 18px;
	font-style: italic;
}

.release:hover {
	cursor: pointer;
}

.release:hover .release-artwork {
	flex-grow: 0;
	flex-shrink: 1;
}

.release:hover .release-title {
	flex-grow: 1;
	flex-shrinl: 0;
}

#dawn .release-artwork {
	background-image: url(../img/dawn_artwork_small.jpg);
}
#regular .release-artwork {
	background-image: url(../img/regular_artwork_small.jpg);
}
#mary-jane .release-artwork {
	background-image: url(../img/mary_jane_artwork_small.jpg);
}
#oldschool-sound .release-artwork {
	background-image: url(../img/oldschool_sound_artwork_small.jpg);
}
#slow-down .release-artwork {
	background-image: url(../img/slow_down_artwork_small.jpg);
}
#major-moves .release-artwork {
	background-image: url(../img/major_moves_artwork_small.jpg);
}
#deep .release-artwork {
	background-image: url(../img/deep_artwork_small.jpg);
}

/*
 * MIXES
 */
.mixes .content {
	font-size: 24px;
	text-align: center;
	margin: 24px 0;
}

/* Responsive */
@media only screen and (max-width: 1200px) {
	.releases-list {
		width: 100%;
		justify-content: space-evenly;
	}
}

/* Mobile only */
@media only screen and (orientation: portrait) {
	main {
		padding: 12px;
	}
	.releases-list {
		width: 100%;
		justify-content: space-evenly;
	}
	.release {
		flex: calc(46vw - 12px) 0 0;
		height: calc(46vw - 12px);
		margin: 2vw;
	}
	.release-artwork {
		font-size: 12vw;
		line-height: 16vw;
	}
